
<h1>Upload,View & Delete File</h1>

<input type="file" id="customFile" (change)="selectFile($event)" placeholder="File To Upload">
<button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload()">Save File</button>
<br><br><br>
<input type="text" placeholder="File to View or Delete"  name="image" [(ngModel)]="file">
<button class="btn btn-primary" style="margin-left: 10px" (click)="viewFile()">View File</button>
<button class="btn btn-primary" style="margin-left: 10px" (click)="deleteFile()">Delete File</button>